html {
  background-color: rgb(32, 32, 32);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
}

div.header {
  width: 100;
  background-color: white;
  top: 0;
  position: sticky;
}

p.headerfont {
  margin-left: 0.625rem;
  font-size: 2.5vh;
  font-weight: 3500;
}
